@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


body {
    background-color: rgba(223, 219, 222, 0.521);
    color: rgb(56, 55, 55);
    font-family: Cinzel;
    transition: 0.7s;
    text-size-adjust: auto;

    overscroll-behavior: contain;
}

h1 {
    text-align: center;
    margin: 15vh 0vh 4vh 0vh;
}

h1 > mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(216, 230, 98);
    color: rgb(56, 55, 55);
    font-family: 'Press Start 2P';
}

#contentZone {
    width: 100%;
    height: 70vh;
}

#contentZone p {
    text-align: center;
    margin: 2vh 25vw 4vh 25vw;
    display: inline-block;
    font-weight: bold;
    color: rgb(56, 55, 55);

    background: url("/assets/images/stroke2.png");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0;
}


h2 {
    text-align: center;
    font-family: 'Press Start 2P';
}

.game {
    font-family: 'Press Start 2P';
    text-align: center;
    position: relative;
    top: 3vh;
}

#cnv {
    margin: 0px;
}


h2 > mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(194, 206, 89, 0.815);
    color: rgba(56, 55, 55, 0.842);
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    padding: 1vh 0vh;
    list-style-type: none;
    margin-left: -1.5em;
}

li > mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(194, 206, 89, 0.815);
    color: rgba(56, 55, 55, 0.842);
    transition: 0.7s;
    font-weight: bold;
}

li > mark:hover {
    font-weight: bolder;
    font-size: larger;
    line-height: 0em;
    padding-bottom: 0.7em;
    margin: 2px 0px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    background-color: rgb(216, 230, 98);
    color: rgb(56, 55, 55);
}

footer {
    font-family: 'Press Start 2P';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(216, 230, 98);
    color: rgba(56, 55, 55, 0.842);
    text-align: center;
}



header {
    background-color: rgb(216, 230, 98);
    color: rgba(56, 55, 55, 0.842);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    transition: 0.7s;
  }

  header > p > img {
      height: 5vh;
      margin-right: 1vw;
  }

  header > p {
    display: flex;
    flex-direction: row;
    align-items: center;  
    transition: 0.7s;
  }

  #contentZone {
      padding-top: 5vh;
  }


  body #snackbar {
    text-align: center;
    
    background-color: rgba(207, 214, 105, 0.767);
    margin: 0vw 35vw 0vw 35vw;
    border-radius: 10px;
    transition: 0.7s;
  }

  body #snackbar.show {
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


  @media screen and (max-width: 800px) {
      

    h1 > mark {
        font-size: medium;
        line-height: 1em;
        padding: 0.3em 0em 0.3em 0em;
        margin-top: 0px;
    }


    h2 > mark {
        font-size: small;
        line-height: 1em;
        padding: 0.3em 0em 0.3em 0em;
    }

    #contentZone {
      margin-top: 5.5vh;
      padding-top: 0vh;
      height: 100%;
      /*margin-bottom: 55vh;*/
    }

    #contentZone p {
        margin: 2vh 12vw 2vh 12vw;
        line-height: 1.5em;
    }

    footer {
      visibility: hidden;
      height: 0px;
      width: 0px;
    }

    .game {
      font-size: large;
    }
}


/* MODAL CF  https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #c8e65e;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 10px;
    font-family: 'Press Start 2P';
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  canvas {
      border: 1px solid #c8e65e;
  }