@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


body {
    background-color: rgba(223, 219, 222, 0.521);
    color: rgb(56, 55, 55);
    font-family: Cinzel;
    transition: 0.7s;
}

h1 {
    text-align: center;
    margin: 15vh 0vh 4vh 0vh;
}

h1 > mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(216, 230, 98);
    color: rgb(56, 55, 55);
    font-family: 'Press Start 2P';
}

#contentZone {
    width: 100%;
    height: 100%;
}

#contentZone p {
    text-align: center;
    margin: 2vh 25vw 4vh 25vw;
    display: inline-block;
    font-weight: bold;
    color: rgb(56, 55, 55);

    background: url("./stroke2.png");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0;
}


h2 {
    text-align: center;
    font-family: 'Press Start 2P';
}

h2 > mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(194, 206, 89, 0.815);
    color: rgba(56, 55, 55, 0.842);
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    padding: 1vh 0vh;
    list-style-type: none;
    margin-left: -1.5em;
}

li > mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(194, 206, 89, 0.815);
    color: rgba(56, 55, 55, 0.842);
    transition: 0.7s;
    font-weight: bold;
}

li > mark:hover {
    font-weight: bolder;
    font-size: larger;
    line-height: 0em;
    padding-bottom: 0.7em;
    margin: 2px 0px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    background-color: rgb(216, 230, 98);
    color: rgb(56, 55, 55);
}

footer {
    font-family: 'Press Start 2P';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(216, 230, 98);
    color: rgba(56, 55, 55, 0.842);
    text-align: center;
}



header {
    background-color: rgb(216, 230, 98);
    color: rgba(56, 55, 55, 0.842);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    transition: 0.7s;
  }

  header > p > img {
      height: 5vh;
      margin-right: 1vw;
  }

  header > p {
    display: flex;
    flex-direction: row;
    align-items: center;  
    transition: 0.7s;
  }

  #contentZone {
      padding-top: 5vh;
  }