name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deployToServer:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

#     - name: FTP Deploy
#       uses: SamKirkland/FTP-Deploy-Action@3.0.0
#       with:
#         ftp-server: ${{ secrets.FTP_SERVER }}
#         ftp-username: ${{ secrets.FTP_LOGIN }}
#         ftp-password: ${{ secrets.FTP_PWD }}
#         git-ftp-args: --insecure
        
        
    - name: SFTP Deploy
      uses: wlixcc/SFTP-Deploy-Action@v1.0
      with:
        # username
        username: ${{ secrets.FTP_LOGIN }}
        # your sftp server
        server: ${{ secrets.FTP_SERVER }}
        # your sftp server port, default to 22
        port: 22
        # you can copy private_key from your *.pem file, keep format
        ssh_private_key: ${{ secrets.FTP_SSH_PRIV_KEY }}
        # will put all file under this path
        # files will copy to under remote_path
        remote_path: /js_snake/
